body{
  background-image: url('../img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-container{
	margin-top: 30px;
  width: 100%;
}
a.nav-link.active{
  color: #FFFFFF !important;
}
a.nav-link.active{
  background-color: #1d3b57 !important;
  color: #FFFFFF;
}
.container-cms{
  width: 80%;
}
.card{
  margin-bottom: 50px;
}
.card-home{
  border: 1px solid #E5E5E5;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 20px;
  -webkit-transition: all ease 0.3s;
}
.card-home:hover{
  box-shadow: 0px 1px 6px 0px rgba(77,77,77,1);
}
a.link-card-home{
  color: #1d3b57;
  text-decoration: none;
}
a.link-card-home.disabled{
  color: #E5E5E5;
}
a.link-card-home.disabled :hover{
  box-shadow: none;
}

/*Configuración estilo de input file*/
.label-file{
	cursor: pointer;
  text-align: center;
  display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: .9rem;
	line-height: 1.6;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.label-file:hover{
    border: 1px solid rgb(143, 193, 248);
}
.img-preview-file{
	display: block;
	width: 30%;
}
.img-preview-banner{
  display: block;
  width: 100%;
}
/*Fin configuración estilo de input file*/
/*Configuración formato radiobuttons*/
.radio input[type = "radio"]{
  display: none;
}
.radio label{
  color: #000000;
  padding: 5px 15px 5px 41px;
  display: inline-block;
  position: relative;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.radio label:hover{
  background: rgba(0, 57, 81, 0.3);
}
.radio label:before{
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid #1d3b57;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 4px;
}
.radio input[type = "radio"]:checked + label{
  padding: 5px 10px;
  background: #1d3b57;
  border-radius: 2px;
  color: #FFFFFF;
}
.radio input[type = "radio"]:checked + label:before{
  display: none;
}
/*Fin Configuración formato radiobuttons*/

/*Evidencia*/
.label-evidencia{
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: .9rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.label-evidencia:hover{
    border: 1px solid rgb(143, 193, 248);
}
.form-buscar{
  float:right;
}

@media all and (max-width: 1400px){
  .container-cms{
    width: 100%;
  }  
}